#escolhas button {
    padding: 10px;
    border: 1px solid white;
}

#escolhas button:hover {
    cursor: pointer;
    border: 1px solid black;
}

#visualizar {
    width: 100%;
    height: 33px;
    border: 1px solid black;
}